* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: open sans;
    color: #1C1C20;
}


.foter-1 .left-side img {
    padding-bottom: 30px;
}

.foter-1 .left-side img:hover {
    cursor: pointer;
}

.foter-1 .left-side h2 {
    padding-bottom: 15px;
    font-size: 40px;
    font-weight: bold;
}

.foter-1 .left-side h5 {
    line-height: 35px;
    color: #808080;
    transition: 0.5s ease-in;
    padding-bottom: 10px;
}

.foter-1 .left-side h5:hover {
    opacity: 0.7;
    transition: 0.3s ease-in;
    cursor: pointer;
}

.foter-1 .left-side  a i {
    letter-spacing: 30px;
    font-size: 25px;
    transition: 0.5s ease-in; transition: 0.5s ease-in;
}

.foter-1 .left-side  a i:hover {
    cursor: pointer;
    transition: 0.3s ease-in;
    opacity: 0.7;
}

.logo {
    padding-top: 30px;
}

.header-1 .mav-bar-a ul {
	display: flex;
	padding-top: 30px;
    color: #1C1C20;
	list-style: none;
	font-size: 18px;
	justify-content: space-around;
    z-index: 9;
}

.header-1 .mav-bar-a  ul li a {
	padding: 10px 20px;
	display: block;
    color: black;
    text-align: center;
    float: right;
    transition: 0.4s ease-in;
    text-decoration: none;
}

.header-1 .mav-bar-a  ul li a:hover {
    color: #1E7D76;
    transition: 0.2s ease-in;
}

.banner-1 {
    background-image: url(img/about/banner.png);
    height: 50vh;
    background-size: cover;
}

.banner-1 .text-banner-1 h1 {
    padding-top: 130px;
    font-size: 70px;
}

.banner-1 .text-banner-1 h1, h3 {
    color: white;
    text-transform: uppercase;
    text-align: center;
}

.contact {
    padding-top: 100px;
    color: #1C1C20;
}


.contact-section {
    padding-top: 100px;
    padding-bottom: 100px;
    color: black;
    background-size: cover;

} 


.contact-section h2 {
    text-align: center;
    margin-bottom: 10px;
    text-transform: uppercase;
    
}


.contact-section p {
    text-align: center;

}

.contact-section .contact-dit {
    text-align: left;
}

.contact-section .contact-dit p {
    text-align: left;
    padding: 10px;
    
}

.contact-section .contact-dit h2 {
    text-align: left;
    padding: 10px;
    text-transform: lowercase;
    
}

.contact-section .contact-dit h3 {
    text-transform: uppercase;
    color: black;
}

.contact-section .contact-dit h5 {
    border-bottom: 1px dotted black;
}

.contact-section form  {
    padding: 60px;
}


.contact-section form textarea, .contact-section form input, .contact-section form button {
    width: 100%;
    outline: none;
    margin-bottom: 15px;
    border: none;
    height: 40px;
}


.contact-section form textarea {
    height: 80px;
    
}


.contact-section form button {
background-color: #5827f0;
color: white;
padding-left: 14px;
padding-right: 14px;
padding-top: 6px;
padding-bottom: 6px;
cursor: pointer;
transition: 0.2s;
border: 1px solid #5827f0;
text-decoration: none;
clip-path: polygon(0 0, 100% 0, 100% 70%, 85% 100%, 0 100%);
margin-top: 32px;
}


.contact-section form button:hover {
    background-color: black;
    color: #5827f0; 
}

.contact-section form button:active {
    opacity: 0.3;
}


.contact-section form label {
    color:black;
    text-transform: uppercase;
    font-weight: bold;
}


.contact-section .contact-dit p a {
    color: black;
}

.email h4 a i {
    padding-top: 20px;
    font-size: 30px;
}

.email h4 a i:hover {
    color: #233656;
}
